
/* COLORS */
$blue: #4964BB;
$tan: #F5EEDD;
$red: #ED2835;
$dark-gray: #1C1711;
$dark-blue: #283044;
$white: #FFF;

/* FONTS */

$Marker: 'Permanent Marker', cursive;
$Sans: 'Arsenal', sans-serif;
$Writing: 'Amatic SC', cursive;

/* GENERAL */


@mixin outline {
	outline: 10px solid $white;
}

@mixin borderdark {
	border: 2px solid $dark-gray;
}

ul {
	margin: 20px 0 0 0;
	padding: 0;
}
body {
	text-align: center;
	margin: 5% auto;
	background: $tan;
	font-family: $Sans;
}

h1 {
	font-family: $Writing;
	font-size: 3em;
	display: inline;
}

.bold {
	font-weight: 700;
}

.hide {
	display: none;
}

/* QUIZ START */

.start-image {
	width: 70%;
}

.quiz-start, .quiz-end {
	width: 60%;
	margin: 0 auto;
	padding: 20px;
	background: $white;
	@include outline;
	@include borderdark;
}


.start, .restart{
	height: 50px;
	width: 200px;
	margin: 15px auto;
	font-size: 20px;
	background: $red;
	color: $white;
	@include borderdark;
	display: block;

}

/* QUESTION VIEW */

.questions {
	width: 50%;
	margin: 20px auto;
	padding: 20px;
	background: $white;
	@include outline;
	@include borderdark;
}

.dislayed-question li {
	display: inline-block;
	border: 1px solid $dark-gray;
	width: 44%;
	margin: 5px 10px;
	padding: 10px 0;
}

.question-header {
	margin: 0 0 20px 0;
}

.question-number {
	background-color: $blue;
	border-radius: 50%;
	color: $white;
	padding: 5px 20px;
	margin-right: 10px;
	font-family: $Writing;
	font-size: 3em;
	display: inline;
}

.questions li:hover {
	background: lighten($blue, 10%);
	color: $white;
}

.questions li.chosen {
	background: lighten($blue, 5%);
	color: $white;
}

.correct {
	border: 1px solid green;
	background: green;
}

.score {
	width: 50%;
	margin: 10px auto;
	padding: 20px;
	background: $red;
	@include borderdark;
}

.remaining-questions {
	width: 50%;
	color: $white;
	margin: 10px auto;
	padding: 0 20px;
	background: $blue;
	font-size: 20px;
	@include borderdark;
}

.correct, .incorrect {
	color: $white;
	font-size: 35px;
	padding: 5px;
}

.next-question {
	width: 20%;
	color: $white;
	margin: 10px auto;
	padding: 10px;
	font-size: 20px;
	border: none;
	background: $dark-gray;
}

.feedback {
	color: $white;
	font-size: 20px;
}

/* QUIZ END */

.fa {
	color: $dark-gray;
	padding: 5px;
}

.fa:hover {
		color: $blue;
}






