/* blue #4964BB 
tan #EDE1C8
purple 
dark gray #1C1711

*/

body {
	text-align: center;
}

img {
	height: 300px;
}

.quiz-start {
	width: 60%;
	margin: auto;
}

button {
	height: 50px;
	width: 80px;
}

.placeholder {
	margin: 0 auto;
	border-radius: 50%;
	height: 100px;
	width: 100px;
	background: red;
	display: inline-block;
}